<%= render 'shared/header_form' %>

<%= form_with url: login_path, class: "login-form" do |f| %>
  <div class="form-group">
    <%= f.label :email, "Email", class: "visually-hidden" %>
    <%= f.text_field :email, placeholder: "Email" %>
  </div>
  <div class="form-group">
    <%= f.label :password, "Password", class: "visually-hidden" %>
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
  <div class="form-group">
    <%= f.submit  "Login", 
                  class: "btn btn--info" %>
    or
    <%= link_to "Register",
                new_user_path,
                class: "btn btn--purple" %>
  </div>
<% end %>