<%= render 'shared/header_form' %>

<%= form_with model: @user, class: "login-form", data: { controller: "validations" } do |f| %>
  <div class="errors" data-validations-target="errors">
    <% if @user.errors.any? %>
      <% @user.errors.each_with_index do |e, idx| %>
        <div class="error_<%= idx %>"><%= e.message%></div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :name, placeholder: "Name", class: "visually-hidden" %>
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <div class="form-group">
    <%= f.label :username, placeholder: "Username", class: "visually-hidden" %>
    <%= f.text_field :username, placeholder: "Username" %>
  </div>
  <div class="form-group">
    <%= f.label :email, placeholder: "Email", class: "visually-hidden" %>
    <%= f.text_field :email, placeholder: "Email", data: { validations_target: "email", action: "focusout->validations#validate_email" } %>
  </div>
  <div class="form-group">
    <%= f.label :password, placeholder: "Password", class: "visually-hidden" %>
    <%= f.password_field :password, placeholder: "Password", data: { validations_target: "password", action: "focusout->validations#validate_password" } %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, placeholder: "Confirm password", class: "visually-hidden" %>
    <%= f.password_field :password_confirmation, placeholder: "Confirm password", data: { action: "validate_password_match" } %>
  </div>
  <div class="form-group form">
    <%= f.submit class: "btn btn--info" %>
    <span>or</span>
    <%= link_to  "Login", login_path, class: "btn btn--purple" %>
  </div>
<% end %>